body {
    background-color: #98fb98;
    color: #ff7f50;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
  button {
    padding: 5px 20px;
    background-color: #9acd32;
    color: #ff7f50;
    border-color: #32cd32;
    border-style: none;
  }
  input {
    height: 20px;
  }